#### ze_gran repository .gitignore ####

## c/c++ excludes
bin/

## cmake/make/ninja excludes

## rust excludes
Cargo.lock
target/

## python excludes
.ipynb_checkpoints
__pycache__/

## zig excludes
zig-cache/
zig-out/

## lisp excludes
.bak

## visual studio code excludes
.vscode/

#
