{"Data":{"COURSE_A_1":{"highScores":{"NORMAL":{"CourseId":"COURSE_A_1","CourseMode":"NORMAL","NumFlasksUsed":3,"NumDodgesAchieved":1,"NumPrayersUsed":5,"NumBloodPenancesUsed":0,"NumHitsReceived":29,"RunDuration":269.0245,"NumScenesCompleted":6,"IsTimerActive":false,"Score":"A_MINUS","IsNewHighScore":true,"WasTheCourseCompleted":true}},"prevHighScores":{"NORMAL":null},"unlocked":{"NORMAL":true,"HARD":true}},"COURSE_A_2":{"highScores":{},"prevHighScores":{},"unlocked":{"NORMAL":true}}},"$type":"Framework.Managers.BossRushManager+BossRushData"}